<%= provide(:title, "Mon compte") %>
<h1> <%= current_user.full_name %> </h1>

<div class="row">
  <div class="span6 offset3">
    <a href="http://gravatar.com/emails"><%= gravatar_for current_user, size: 100 %></a>
    <div class="clear"></div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%# <%= render 'shared/error_messages' %>
      <%= devise_error_messages! %>
      
      

      <%= f.label :first_name, "Prénom", :autofocus => true %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name, "Nom" %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.email_field :email%>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>En attente du mail de confirmation<%= resource.unconfirmed_email %></div>
      <% end %>


      <%= f.label :password, "Nouveau mot de passe" %>
      <%= f.password_field :password, :autocomplete => "off" %>

      <%= f.label :password_confirmation, "Confirmation du mot de passe" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :current_password, "Mot de passe actuel" %>
      <%= f.password_field :current_password %>

      <div><%= f.submit "Modifier", class: "btn btn-primary btn-large" %></div>
    <% end %>

    <!-- <h2>Supprimer mon compte</h2> -->

    <!-- <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-primary btn-large" %></p> -->

    <!-- <%= link_to "Back", :back %> -->
  </div>
</div>
