<%= render 'users/header' %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true, :method => :put }) do |f| %>
    <div class="row-fluid">
        <div class="span3">
            <%= render 'devise/registrations/nav' %>
        </div>
        <div class="span5 offset1">

            <%= devise_error_messages! %>

            <%= f.label :first_name, "Prénom", :autofocus => true %>
            <%= f.text_field :first_name %>

            <%= f.label :last_name, "Nom" %>
            <%= f.text_field :last_name %>

            <%= f.label :email %>
            <%= f.email_field :email%>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>En attente du mail de confirmation<%= resource.unconfirmed_email %></div>
            <% end %>

            <%= f.label :password, "Nouveau mot de passe" %>
            <%= f.password_field :password, :autocomplete => "off" %>

            <%= f.label :password_confirmation, "Confirmation du mot de passe" %>
            <%= f.password_field :password_confirmation %>



        </div>
        <div class="span2" style="margin-top:80px;">
            <div class="input-append">
                <%= f.password_field :current_password, class: 'span10', :placeholder => "Mot de passe" %>
                <%= f.submit "Modifier", class: "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>
