<% provide(:title, "Message") %>
<% @conversation.mark_as_read(current_user) %>
<h1>Message</h1>

<div class="row-fluid">
  <div class="span3">
    <%= render 'mailbox/nav' %>
  </div>
  <div class="span7">
    <div class="btn-group" style="float:right;">
      <%= link_to mailbox_destroy_path(:id => @conversation.id), :class => 'btn', :method => :delete do %>
        <i class="icon-trash"></i>
      <% end %>
      <a href="#reply" class="btn" title="Répondre"><i class="icon-pencil"></i></a>
    </div>
    <h2 class="conversation-subject">Objet : <%= @subject %> </h2>
    <ul class="conversation">
      <% @receipts.each do |receipt| %>
        <li>
        <%= gravatar_for receipt.message.sender, size: 70, class: "gravatar" %> <br />
        <%= receipt.message.body %>
        </li>
      <% end %>
    </ul>
    <div id="#reply" style="text-align:center;">
      <%= form_tag mailbox_reply_path do |f| %>
        <%= text_area_tag :body, params[:body], class: "textarea-big" %>
        <%= submit_tag "Répondre", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
