<%= provide(:title, "Connexion") %>
<h1>Connexion</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>

      <%= f.label :password, "Mot de passe" %>
      <%= f.password_field :password %>

      <% if devise_mapping.rememberable? -%>
        <div class="checkbox"><%= f.check_box :remember_me, checked: true %> <%= f.label :remember_me, "Connexion automatique" %></div>
      <% end -%>

      <%= f.submit "Se connecter", class: "btn btn-primary btn-large" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
